{% comment %}

占位符允许定义自定义头部，原则上，您可以在此处添加任何内容，例如 图标：
1. 前往 https://realfavicongenerator.net/ 添加您自己的图标。
2. 在你的源目录中自定义默认的 _includes/custom-head.html 并插入给定的代码片段.

{% endcomment %}

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">